.outside-area {
    background-image: url('../assets/t-rex-rain-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

#content-area {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.epic-name {
    font-size: 1.4em;
    -webkit-text-stroke:1px red;
    -webkit-text-fill-color: white;
}

.avatars {
    display: inline;
    align-items: center;
    width: 280px;
}

.avatar-instructions {
    display: flex;
    align-items: flex-end;
}

.avatar-chassis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 2px;
    border: solid 1px white;
    border-radius: 5px;
}

input {
    display: none;
}

.visitor-check-in {
    display: block;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#visitor-instructions {
    display: block;
    justify-content: center;
    width: 360px;
    padding: 20px 0 20px 0;
}

#visitor-sign-in {
    display: block;
    justify-content: center;
    background-color: rgb(204, 203, 203);
}

.security-desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: rgb(0, 179, 0);
    border-radius: 20px;
    border: 5px solid gray;
    height: 240px;
}

.security-area {
    display: block;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#security-scanner {
    display: block;
    justify-content: center;
    padding: 20px 0 20px 0;

}

#lab-button {
    display: block;
    justify-content: center;
}
