.outer-incubation-main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    background-color: skyblue;
    background-image: url('../assets/hay-nest-aerial-opaque-cropped.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-incubation-content {
    display: flex;
    min-height: 100vh;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    /* display: grid;
    height: 100vh;
    grid-template-rows: 1fr 9fr 3fr 5fr;
    align-items: center;
    justify-content: center; */
}

.incubation-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0px 0px 0px;
    /* border: solid 1px white;
    border-radius: 10px; */
}

.incubation-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-dino-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#dino-container {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 3fr 1fr; */
    justify-content: center;
    align-items: center;
    /* border: solid 3px rgba(28, 92, 22, 0.836); */
    /* border: solid 5px rgba(28, 92, 22, 0.836);
    border-radius: 10px; */
    width: 80vw;
    max-height: 360px;
    /* background-color: rgb(235, 207, 152); */
    /* background-color: rgba(141, 214, 134, 0.836); */
    margin-bottom: 20px;
    font-size: 1em;
}

/* img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
} */

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#species-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

#species-choice {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: black;
    color: rgb(0, 179, 0);
    border-radius: 20px;
    border: 5px solid gray;
    padding: 2px;
}

#species-input {
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.release-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

#release-button {
    border-radius: 20px;
}

.left-spacing, .right-spacing {
    width: 200px;
}

footer {
    background-color: skyblue;
}